.header {
  @extend %flex;
  border-bottom: 1px solid #efeef3;
  margin-bottom: 50px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 100px;
  }

  .container {
    padding: 22px 10px;

    @media screen and (min-width: 1440px) {
      padding: 22px 0;
    }
  }
}

.footer {
  @extend %flex;
  background-color: $dark;

  .container {
    flex-direction: column;
    padding: 40px 10px;

    @media screen and (min-width: 1440px) {
      padding: 40px 0;
    }
  }

  .logo-holder {
    margin-bottom: 40px;
  }
}

.main {
  @extend %flex;

  .container {
    padding: 0 10px;

    @media screen and (min-width: 1440px) {
      padding: 0;
    }

    .text-holder {
      margin-bottom: 30px;

      .pseudo-title {
        @include font-setting("Roboto", normal, 400, 16px, 21px, 0.3, $gray);
      }

      h1 {
        @include font-setting(
          "Nunito Sans",
          normal,
          600,
          40px,
          52px,
          0.2,
          $dark
        );
      }

      .span-holder {
        @include font-setting("Roboto", normal, 400, 24px, 21px, 0.2, $dark);
        margin-bottom: 15px;
      }
    }

    .cards-holder {
      width: 100%;
      @extend %flex;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 50px;

      @media screen and (min-width: 1024px) {
        justify-content: space-between;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 100px;
      }

      .item-holder {
        @include size-m-w(370px, auto);
        @extend %flex;
        flex-direction: column;
        border: 1px solid $light-gray;
        border-radius: 8px;
        padding: 20px 10px;
        //width: 100%;

        @media screen and (min-width: 768px) {
          width: 45%;
        }

        @media screen and (min-width: 1024px) {
          width: 31%;
        }

        @media screen and (min-width: 1440px) {
          padding: 40px 40px;
        }

        &:hover {
          border-color: $green;

          .icon {
            border: 1px solid #3db370;
            background-position: 13px -43px;
          }
        }

        .p-holder {
          @include size-m-w(275px, 80px);
          @include font-setting("Roboto", normal, 400, 16px, 28px, 0.2, $dark);
        }

        .link-holder {
          a {
            @include font-setting(
              "Roboto",
              normal,
              600,
              16px,
              19px,
              0.2,
              $green
            );
          }
        }
      }
    }
  }
}

.sprite-holder {
  margin-bottom: 30px;

  .icon {
    background-image: url(../../img/megaphones.svg);
    background-repeat: no-repeat;
    background-position: 13px 13px;
    display: inline-block;
    @include size(64px, 64px);
    border: 1px solid #1565d8;
    border-radius: 16px;
    transition: all ease-in-out 0.3s;
  }
}

.socials-holder {
  .link {
    @include size(38px, 38px);
    position: relative;
    display: inline-block;
    background-color: $bg-social;
    border-radius: 5px;
    margin-right: 10px;

    i {
      color: #0d0d0d;
    }

    &:hover i {
      color: #3db370;
    }
  }

  .icon-instagram:before {
    content: "\ea92";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .icon-social-facebook:before {
    content: "\e900";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }

  .icon-github:before {
    content: "\eab0";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .icon-dribbble:before {
    content: "\eaa7";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
  }

  .icon-twitter:before {
    content: "\ea96";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
  }
}
