.header {
  @include size-m-w(1440px, 80);
  border-bottom: 1px solid #efeef3;
  background-color: $white;
  @extend %flex;
  margin: 0 auto;
  margin-bottom: 50px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 100px;
  }

  .header-holder {
    @include size(1170px, auto);
    padding: 22px 10px;
    margin: 0 auto;

    @media screen and (min-width: 1440px) {
      padding: 20px 0;
    }
  }
}

.wrap {
  @include size-m-w(1170px, auto);
  @extend %flex;

  @media screen and (min-width: 1024px) {
    margin: 0 auto;
  }

  .text-holder {
    padding-left: 10px;

    @media screen and (min-width: 1440px) {
      padding-left: 0;
    }

    .span-holder {
      margin-bottom: 15px;

      .pseudo-title {
        @include font-setting("Roboto", normal, 400, 16px, 21px, 0.3, #7690a8);
      }
    }

    h1 {
      @include font-setting(
        "Nunito Sans",
        normal,
        600,
        40px,
        52px,
        0.2,
        #16133d
      );
      margin-bottom: 40px;
    }
  }
}

.text-holder {
  &.logo {
    @include font-setting("Quicksand", normal, 500, 35px, 35px, 0.3, #ffffff);
  }
}
.span-holder {
  @include font-setting("Roboto", normal, 400, 24px, 21px, 0.2, #16133d);
  margin-bottom: 15px;
}

.pseudo-title {
}

.cards-holder {
  @include size-m-w(1170px, auto);
  @extend %flex;
  gap: 20px;
  padding: 0 10px;
  margin-bottom: 50px;

  @media screen and (min-width: 1440px) {
    padding: 0;
    margin-bottom: 100px;
  }
}

.item-holder {
  @include size-m-w(370px, 340px);
  @extend %flex;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  padding: 40px 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 45%;
  }

  @media screen and (min-width: 1024px) {
    width: 31%;
  }

  &:hover {
    border-color: #3db370;

    .icon {
      background-position: 13px -43px;
    }
  }
}

.content-holder {
  @include size-m-w(290px, 260px);
}

.sprite-holder {
  padding-left: 10px;
  margin-bottom: 30px;
}

.icon {
  background-image: url(../../img/megaphones.svg);
  background-repeat: no-repeat;
  background-position: 13px 13px;
  display: inline-block;
  @include size(64px, 64px);
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
  transition: all ease-in-out 0.3s;
}

.p-holder {
  @include size-m-w(275px, 80px);
  @include font-setting("Roboto", normal, 400, 16px, 28px, 0.2, #16133d);
  margin-bottom: 30px;
}

.link-holder {
  padding-left: 10px;
  a {
    @include font-setting("Roboto", normal, 600, 16px, 19px, 0.2, #3db370);
  }
}

.footer {
  @include size-m-w(1440px, auto);
  @extend %flex;
  margin: 0 auto;
  background-color: #16133d;

  .footer-holder {
    @include size(1170px, auto);
    @extend %flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      padding: 40px 10px;
    }
  }
}

.logo-holder {
  &.footer {
    @extend %flex;
    @include size(230px, 35px);
    margin-bottom: 20px;

    img {
      margin-right: 12px;
    }
  }
}

.logo-item-holder {
  @extend %flex;
  flex-direction: column;
}

.socials-holder {
  @include size(230px, 38px);
  @extend %flex;
  gap: 10px;
}

.icon-holder {
  @include size(38px, 38px);
  position: relative;
  display: inline-block;
  background-color: #efeef3;
  border-radius: 5px;

  &:hover {
    color: #3DB370;
    transform: scale(0.5);
  }
}

.icon-instagram:before {
  content: "\ea92";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.icon-social-facebook:before {
  content: "\e900";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.icon-github:before {
  content: "\eab0";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.icon-dribbble:before {
  content: "\eaa7";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
}

.icon-twitter:before {
  content: "\ea96";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
}
