$black: #000000;
$gray: #7b7b7b;
$dark-gray: #565656;
$white: #ffffff;

$orange: #ff9900;
$dark: #2f281e;
$gray-p: #544837;
$gray: #bcd0e5;
$shadow: #7e9bbd;
$beige: #d6bf9c;
$blue: #007bff;
$black: #000000;
$light-grey: #969696;
